.button {
  appearance: none;
  border: none;
  border-radius: var(--shape-medium);
  padding: 0 1rem;
  height: 2.5rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  translate: 0 -0.25rem;
  transition:
    background-color 120ms,
    box-shadow 120ms ease-in-out,
    translate 120ms ease-in-out,
    border 120ms ease-in-out,
    margin 120ms ease-in-out;
  --mdc-theme-primary: currentColor;
  &:focus {
    outline: none;
  }
  &.button--primary {
    --button: var(--button-primary);
    --on-button: var(--on-button-primary);
    --button-hover-rgb: var(--button-primary-hover-rgb);
    --button-hover: var(--button-primary-hover);
    --button-focus-rgb: var(--button-primary-focus-rgb);
    --button-focus: var(--button-primary-focus);
    --button-pressed-rgb: var(--button-primary-pressed-rgb);
    --button-pressed: var(--button-primary-pressed);
    --button-focus-pressed-rgb: var(--button-primary-focus-pressed-rgb);
    --button-focus-pressed: var(--button-primary-focus-pressed);
    --button-shadow: var(--button-primary-shadow);
    --button-focus-shadow: var(--button-primary-focus-shadow);
  }
  &.button--secondary {
    --button: var(--button-secondary);
    --on-button: var(--on-button-secondary);
    --button-hover-rgb: var(--button-secondary-hover-rgb);
    --button-hover: var(--button-secondary-hover);
    --button-focus-rgb: var(--button-secondary-focus-rgb);
    --button-focus: var(--button-secondary-focus);
    --button-pressed-rgb: var(--button-secondary-pressed-rgb);
    --button-pressed: var(--button-secondary-pressed);
    --button-focus-pressed-rgb: var(--button-secondary-focus-pressed-rgb);
    --button-focus-pressed: var(--button-secondary-focus-pressed);
    --button-shadow: var(--button-secondary-shadow);
    --button-focus-shadow: var(--button-secondary-focus-shadow);
  }
  &.button--error {
    --button: var(--button-error);
    --on-button: var(--on-button-error);
    --button-hover-rgb: var(--button-error-hover-rgb);
    --button-hover: var(--button-error-hover);
    --button-focus-rgb: var(--button-error-focus-rgb);
    --button-focus: var(--button-error-focus);
    --button-pressed-rgb: var(--button-error-pressed-rgb);
    --button-pressed: var(--button-error-pressed);
    --button-focus-pressed-rgb: var(--button-error-focus-pressed-rgb);
    --button-focus-pressed: var(--button-error-focus-pressed);
    --button-shadow: var(--button-error-shadow);
    --button-focus-shadow: var(--button-error-focus-shadow);
  }
  &[data-disabled] {
    box-shadow: 0 0 var(--button-shadow);
    background-color: var(--paper);
    color: var(--on-paper);
    cursor: not-allowed;
  }
  &.button--text,
  &.button--outlined {
    background-color: transparent;
    color: var(--button);
    &[data-hovered] {
      color: var(--button-hover);
      background-color: rgba(var(--button-hover-rgb), 0.1);
    }
    &[data-focus-visible] {
      color: var(--button-focus);
      background-color: rgba(var(--button-focus-rgb), 0.1);
      &[data-pressed] {
        background-color: rgba(var(--button-focus-pressed-rgb), 0.2);
      }
    }
    &[data-pressed] {
      background-color: rgba(var(--button-pressed-rgb), 0.2);
    }
  }
  &.button--outlined {
    border: 2px solid var(--button);
    box-shadow: none;
    &[data-hovered],
    &[data-focus-visible] {
      border-width: 4px;
    }
    &[data-hovered] {
      border-color: var(--button-hover);
    }
    &[data-focus-visible] {
      border-color: var(--button-focus);
    }
  }

  &.button--filled,
  &.button--elevated {
    background-color: var(--button);
    color: var(--on-button);
    &[data-hovered] {
      background-color: var(--button-hover);
    }
    &[data-focus-visible] {
      background-color: var(--button-focus);
      &[data-pressed] {
        background-color: var(--button-focus-pressed);
      }
    }
    &[data-pressed] {
      background-color: var(--button-pressed);
    }
  }
  &.button--elevated {
    box-shadow: 0 0.25rem var(--button-shadow);
    &[data-hovered] {
      box-shadow: 0 0.5rem var(--button-shadow);
      translate: 0 -0.5rem;
    }
    &[data-focus-visible] {
      box-shadow: 0 0.5rem var(--button-focus-shadow);
      translate: 0 -0.5rem;
      &[data-pressed] {
        box-shadow: 0 0 var(--button-focus-shadow);
      }
    }
    &[data-pressed] {
      box-shadow: 0 0 var(--button-shadow);
      translate: 0 0;
    }
  }

  &[data-disabled] {
    box-shadow: 0 0 var(--button-shadow);
    translate: 0 0;
    background-color: var(--paper);
    color: var(--on-paper);
    cursor: not-allowed;
  }

  .button__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -0.5rem;
    &:dir(rtl) {
      margin-left: 0;
      margin-right: -0.5rem;
    }
  }
  &.button--icon {
    padding: 0;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    @supports (corner-shape: bevel) {
      height: 3.5rem;
      width: 3.5rem;
    }
    .button__icon {
      margin: 0;
    }
  }
}
