:root {
  --paper-1100-rgb: 58, 42, 30;
  --paper-1100: rgb(var(--paper-1100-rgb));
  --paper-1000-rgb: 73, 55, 40;
  --paper-1000: rgb(var(--paper-1000-rgb));
  --paper-900-rgb: 86, 68, 49;
  --paper-900: rgb(var(--paper-900-rgb));
  --paper-800-rgb: 102, 82, 61;
  --paper-800: rgb(var(--paper-800-rgb));
  --paper-700-rgb: 115, 96, 70;
  --paper-700: rgb(var(--paper-700-rgb));
  --paper-600-rgb: 131, 110, 80;
  --paper-600: rgb(var(--paper-600-rgb));
  --paper-500-rgb: 143, 121, 88;
  --paper-500: rgb(var(--paper-500-rgb));
  --paper-400-rgb: 161, 142, 114;
  --paper-400: rgb(var(--paper-400-rgb));
  --paper-300-rgb: 179, 164, 141;
  --paper-300: rgb(var(--paper-300-rgb));
  --paper-200-rgb: 204, 190, 174;
  --paper-200: rgb(var(--paper-200-rgb));
  --paper-100-rgb: 225, 216, 204;
  --paper-100: rgb(var(--paper-100-rgb));
  --paper-50-rgb: 244, 240, 232;
  --paper-50: rgb(var(--paper-50-rgb));

  --teal-a700-rgb: 0, 191, 166;
  --teal-a700: rgb(var(--teal-a700-rgb));
  --teal-a400-rgb: 29, 233, 182;
  --teal-a400: rgb(var(--teal-a400-rgb));
  --teal-a200-rgb: 100, 255, 219;
  --teal-a200: rgb(var(--teal-a200-rgb));
  --teal-a100-rgb: 167, 255, 235;
  --teal-a100: rgb(var(--teal-a100-rgb));
  --teal-900-rgb: 0, 77, 64;
  --teal-900: rgb(var(--teal-900-rgb));
  --teal-800-rgb: 0, 105, 92;
  --teal-800: rgb(var(--teal-800-rgb));
  --teal-700-rgb: 0, 121, 107;
  --teal-700: rgb(var(--teal-700-rgb));
  --teal-600-rgb: 0, 137, 123;
  --teal-600: rgb(var(--teal-600-rgb));
  --teal-500-rgb: 0, 150, 136;
  --teal-500: rgb(var(--teal-500-rgb));
  --teal-400-rgb: 38, 166, 154;
  --teal-400: rgb(var(--teal-400-rgb));
  --teal-300-rgb: 77, 182, 172;
  --teal-300: rgb(var(--teal-300-rgb));
  --teal-200-rgb: 128, 203, 196;
  --teal-200: rgb(var(--teal-200-rgb));
  --teal-100-rgb: 178, 223, 219;
  --teal-100: rgb(var(--teal-100-rgb));
  --teal-50-rgb: 224, 242, 241;
  --teal-50: rgb(var(--teal-50-rgb));

  --orange-a700-rgb: 221, 44, 0;
  --orange-a700: rgb(var(--orange-a700-rgb));
  --orange-a400-rgb: 255, 60, 0;
  --orange-a400: rgb(var(--orange-a400-rgb));
  --orange-a200-rgb: 255, 110, 64;
  --orange-a200: rgb(var(--orange-a200-rgb));
  --orange-a100-rgb: 255, 158, 128;
  --orange-a100: rgb(var(--orange-a100-rgb));
  --orange-900-rgb: 191, 54, 12;
  --orange-900: rgb(var(--orange-900-rgb));
  --orange-800-rgb: 216, 67, 21;
  --orange-800: rgb(var(--orange-800-rgb));
  --orange-700-rgb: 230, 74, 25;
  --orange-700: rgb(var(--orange-700-rgb));
  --orange-600-rgb: 244, 81, 30;
  --orange-600: rgb(var(--orange-600-rgb));
  --orange-500-rgb: 255, 87, 34;
  --orange-500: rgb(var(--orange-500-rgb));
  --orange-400-rgb: 255, 112, 67;
  --orange-400: rgb(var(--orange-400-rgb));
  --orange-300-rgb: 255, 138, 101;
  --orange-300: rgb(var(--orange-300-rgb));
  --orange-200-rgb: 255, 171, 145;
  --orange-200: rgb(var(--orange-200-rgb));
  --orange-100-rgb: 255, 204, 188;
  --orange-100: rgb(var(--orange-100-rgb));
  --orange-50-rgb: 251, 233, 231;
  --orange-50: rgb(var(--orange-50-rgb));

  --red-a700-rgb: 213, 0, 0;
  --red-a700: rgb(var(--red-a700-rgb));
  --red-a400-rgb: 255, 23, 68;
  --red-a400: rgb(var(--red-a400-rgb));
  --red-a200-rgb: 255, 82, 82;
  --red-a200: rgb(var(--red-a200-rgb));
  --red-a100-rgb: 255, 138, 128;
  --red-a100: rgb(var(--red-a100-rgb));
  --red-900-rgb: 183, 28, 28;
  --red-900: rgb(var(--red-900-rgb));
  --red-800-rgb: 199, 41, 41;
  --red-800: rgb(var(--red-800-rgb));
  --red-700-rgb: 211, 47, 47;
  --red-700: rgb(var(--red-700-rgb));
  --red-600-rgb: 229, 57, 53;
  --red-600: rgb(var(--red-600-rgb));
  --red-500-rgb: 244, 67, 54;
  --red-500: rgb(var(--red-500-rgb));
  --red-400-rgb: 239, 83, 80;
  --red-400: rgb(var(--red-400-rgb));
  --red-300-rgb: 229, 115, 115;
  --red-300: rgb(var(--red-300-rgb));
  --red-200-rgb: 239, 154, 154;
  --red-200: rgb(var(--red-200-rgb));
  --red-100-rgb: 255, 205, 210;
  --red-100: rgb(var(--red-100-rgb));
  --red-50-rgb: 255, 235, 238;
  --red-50: rgb(var(--red-50-rgb));

  --black-rgb: 0, 0, 0;
  --black: rgb(var(--black-rgb));
  --white-rgb: 255, 255, 255;
  --white: rgb(var(--white-rgb));
}
