:root {
  /* https://icolorpalette.com/color/antique-paper */
  --page-light: #f8f6f1;
  --paper-light-rgb: 243, 239, 230;
  --paper-light: rgb(var(--paper-light-rgb));
  --on-paper-light: #000;
  --magnet-light: #fff;
  --on-magnet-light: #000;
  --whiteboard-light-rgb: 17, 14, 8;
  --whiteboard-light: rgb(var(--whiteboard-light-rgb));
  --whiteboard-border-light: #0b0905;

  --page-dark: #272012;
  --paper-dark-rgb: 44, 36, 21;
  --paper-dark: rgb(var(--paper-dark-rgb));
  --on-paper-dark: #f8f6f1;
  --magnet-dark: #635230;
  --on-magnet-dark: #f8f6f1;
  --whiteboard-dark-rgb: 28, 23, 13;
  --whiteboard-dark: rgb(var(--whiteboard-dark-rgb));
  --whiteboard-border-dark: #060503;
}
