%light {
  color-scheme: light;

  --emphasis-high: 0.87;
  --emphasis-medium: 0.6;
  --emphasis-disabled: 0.38;

  --page: var(--paper-50);

  --paper-rgb: var(--paper-100-rgb);
  --paper: rgb(var(--paper-rgb));
  --on-paper-rgb: var(--paper-1100-rgb);
  --on-paper: rgb(var(--on-paper-rgb));

  --magnet: var(--white);
  --on-magnet: var(--black);
  --magnet-hover: var(--white);
  --magnet-focus: var(--teal-50);
  --magnet-pressed: var(--paper-100);
  --magnet-focus-pressed: var(--teal-100);
  --magnet-selected: var(--paper-100);
  --magnet-hover-selected: var(--paper-200);
  --magnet-focus-selected: var(--teal-100);
  --magnet-pressed-selected: var(--paper-300);
  --magnet-focus-selected-pressed: var(--teal-200);
  --magnet-disabled: var(--paper-100);
  --magnet-disabled-selected: var(--paper-200);

  --magnet-error-hover: var(--red-100);
  --magnet-error-focus: var(--red-a100);
  --magnet-error-pressed: var(--red-200);
  --magnet-error-focus-pressed: var(--red-a200);

  --whiteboard-rgb: var(--paper-1100-rgb);
  --whiteboard: rgb(var(--whiteboard-rgb));
  --whiteboard-border: var(--black);
  --on-whiteboard: var(--white);

  --avatar: var(--paper-100);
  --on-avatar: var(--black);
  --avatar-size: 3rem;

  --button-primary: var(--teal-400);
  --on-button-primary: var(--black);
  --button-primary-hover-rgb: var(--teal-500-rgb);
  --button-primary-hover: rgb(var(--button-primary-hover-rgb));
  --button-primary-focus-rgb: var(--teal-a400-rgb);
  --button-primary-focus: rgb(var(--button-primary-focus-rgb));
  --button-primary-pressed-rgb: var(--teal-600-rgb);
  --button-primary-pressed: rgb(var(--button-primary-pressed-rgb));
  --button-primary-focus-pressed-rgb: var(--teal-a700-rgb);
  --button-primary-focus-pressed: rgb(var(--button-primary-focus-pressed-rgb));
  --button-primary-shadow: var(--teal-700);
  --button-primary-focus-shadow: var(--teal-a700);

  --button-secondary: var(--orange-200);
  --on-button-secondary: var(--black);
  --button-secondary-hover-rgb: var(--orange-300-rgb);
  --button-secondary-hover: rgb(var(--button-secondary-hover-rgb));
  --button-secondary-focus-rgb: var(--orange-a100-rgb);
  --button-secondary-focus: rgb(var(--button-secondary-focus-rgb));
  --button-secondary-pressed-rgb: var(--orange-400-rgb);
  --button-secondary-pressed: rgb(var(--button-secondary-pressed-rgb));
  --button-secondary-focus-pressed-rgb: var(--orange-a200-rgb);
  --button-secondary-focus-pressed: rgb(
    var(--button-secondary-focus-pressed-rgb)
  );
  --button-secondary-shadow: var(--orange-500);
  --button-secondary-focus-shadow: var(--orange-a200);

  --button-error: var(--red-400);
  --on-button-error: var(--black);
  --button-error-hover-rgb: var(--red-500-rgb);
  --button-error-hover: rgb(var(--button-error-hover-rgb));
  --button-error-focus-rgb: var(--red-a400-rgb);
  --button-error-focus: rgb(var(--button-error-focus-rgb));
  --button-error-pressed-rgb: var(--red-600-rgb);
  --button-error-pressed: rgb(var(--button-error-pressed-rgb));
  --button-error-focus-pressed-rgb: var(--red-a700-rgb);
  --button-error-focus-pressed: rgb(var(--button-error-focus-pressed-rgb));
  --button-error-shadow: var(--red-700);
  --button-error-focus-shadow: var(--red-a700);

  --input: var(--paper-100);
  --on-input: var(--black);
  --input-disabled: var(--paper-200);
  --on-input-disabled: var(--paper-800);
  --input-icon: var(--paper-700);
  --input-placeholder: var(--paper-700);
  --input-label-rgb: var(--paper-900-rgb);
  --input-description-rgb: var(--paper-900-rgb);
  --input-border: var(--paper-200);
  --input-focus: var(--teal-a700);
  --input-error: var(--red-a700);
  --input-error-border: var(--red-a700);

  --radio-border: var(--paper-300);
  --radio-selected: var(--orange-300);
  --radio-disabled: var(--paper-300);
  --radio-description-rgb: var(--paper-900-rgb);
  --radio-label-rgb: var(--paper-900-rgb);
  --radio-error: var(--red-a700);

  --link: var(--teal-400);
  --link-visited: var(--teal-500);
  --link-focus: var(--teal-a400);

  --chat-message: var(--paper-100);
  --on-chat-message: var(--black);
  --chat-message-own: var(--teal-100);
  --on-chat-message-own: var(--black);
  --chat-border: var(--paper-200);

  --app-bar: var(--paper-100);
  --on-app-bar: var(--black);
  --app-bar-border: var(--paper-200);

  --dialog-overlay-rgb: var(--paper-1000-rgb);
  --dialog: var(--paper-50);
  --on-dialog: var(--black);
}

%dark {
  color-scheme: dark;

  --emphasis-high: 0.87;
  --emphasis-medium: 0.6;
  --emphasis-low: 0.38;

  --page: var(--paper-1100);

  --paper-rgb: var(--paper-800-rgb);
  --paper: rgb(var(--paper-rgb));
  --on-paper-rgb: var(--paper-50-rgb);
  --on-paper: rgb(var(--on-paper-rgb));

  --magnet: var(--paper-600);
  --on-magnet: var(--white);
  --magnet-hover: var(--paper-600);
  --magnet-focus: var(--teal-700);
  --magnet-pressed: var(--paper-700);
  --magnet-focus-pressed: var(--teal-800);
  --magnet-selected: var(--paper-700);
  --magnet-hover-selected: var(--paper-800);
  --magnet-focus-selected: var(--teal-800);
  --magnet-pressed-selected: var(--paper-900);
  --magnet-focus-selected-pressed: var(--teal-900);
  --magnet-disabled: var(--paper-800);
  --magnet-disabled-selected: var(--paper-1000);

  --magnet-error-hover: var(--red-800);
  --magnet-error-focus: var(--red-a700);
  --magnet-error-pressed: var(--red-700);
  --magnet-error-focus-pressed: var(--red-a400);

  --whiteboard-rgb: var(--paper-1000-rgb);
  --whiteboard: rgb(var(--whiteboard-rgb));
  --whiteboard-border: var(--black);
  --on-whiteboard: var(--white);

  --avatar: var(--paper-800);
  --on-avatar: var(--white);
  --avatar-size: 3rem;

  --button-primary: var(--teal-300);
  --on-button-primary: var(--black);
  --button-primary-hover-rgb: var(--teal-400-rgb);
  --button-primary-hover: rgb(var(--button-primary-hover-rgb));
  --button-primary-focus-rgb: var(--teal-a200-rgb);
  --button-primary-focus: rgb(var(--button-primary-focus-rgb));
  --button-primary-pressed-rgb: var(--teal-500-rgb);
  --button-primary-pressed: rgb(var(--button-primary-pressed-rgb));
  --button-primary-focus-pressed-rgb: var(--teal-a400-rgb);
  --button-primary-focus-pressed: rgb(var(--button-primary-focus-pressed-rgb));
  --button-primary-shadow: var(--teal-600);
  --button-primary-focus-shadow: var(--teal-a400);

  --button-secondary: var(--orange-200);
  --on-button-secondary: var(--black);
  --button-secondary-hover-rgb: var(--orange-300-rgb);
  --button-secondary-hover: rgb(var(--button-secondary-hover-rgb));
  --button-secondary-focus-rgb: var(--orange-a100-rgb);
  --button-secondary-focus: rgb(var(--button-secondary-focus-rgb));
  --button-secondary-pressed-rgb: var(--orange-400-rgb);
  --button-secondary-pressed: rgb(var(--button-secondary-pressed-rgb));
  --button-secondary-focus-pressed-rgb: var(--orange-a200-rgb);
  --button-secondary-focus-pressed: rgb(
    var(--button-secondary-focus-pressed-rgb)
  );
  --button-secondary-shadow: var(--orange-500);
  --button-secondary-focus-shadow: var(--orange-a200);

  --button-error: var(--red-300);
  --on-button-error: var(--black);
  --button-error-hover-rgb: var(--red-400-rgb);
  --button-error-hover: rgb(var(--button-error-hover-rgb));
  --button-error-focus-rgb: var(--red-a200-rgb);
  --button-error-focus: rgb(var(--button-error-focus-rgb));
  --button-error-pressed-rgb: var(--red-500-rgb);
  --button-error-pressed: rgb(var(--button-error-pressed-rgb));
  --button-error-focus-pressed-rgb: var(--red-a400-rgb);
  --button-error-focus-pressed: rgb(var(--button-error-focus-pressed-rgb));
  --button-error-shadow: var(--red-600);
  --button-error-focus-shadow: var(--red-a400);

  --input: var(--paper-800);
  --on-input: var(--paper-50);
  --input-disabled: var(--paper-700);
  --on-input-disabled: var(--paper-200);
  --input-icon: var(--paper-300);
  --input-placeholder: var(--paper-300);
  --input-label-rgb: var(--paper-100-rgb);
  --input-description-rgb: var(--paper-100-rgb);
  --input-border: var(--paper-900);
  --input-focus: var(--teal-a400);
  --input-error: var(--red-a400);
  --input-error-border: var(--red-a400);

  --radio-border: var(--paper-300);
  --radio-selected: var(--orange-300);
  --radio-disabled: var(--paper-700);
  --radio-description-rgb: var(--paper-100-rgb);
  --radio-label-rgb: var(--paper-100-rgb);
  --radio-error: var(--red-a400);

  --link: var(--teal-300);
  --link-visited: var(--teal-400);
  --link-focus: var(--teal-a200);

  --chat-message: var(--paper-800);
  --on-chat-message: var(--paper-50);
  --chat-message-own: var(--teal-800);
  --on-chat-message-own: var(--paper-50);
  --chat-border: var(--paper-700);

  --app-bar: var(--paper-800);
  --on-app-bar: var(--paper-50);
  --app-bar-border: var(--paper-700);

  --dialog-overlay-rgb: var(--paper-100-rgb);
  --dialog: var(--paper-900);
  --on-dialog: var(--paper-50);
}

[data-theme="light"] {
  @extend %light;
}

[data-theme="dark"] {
  @extend %dark;
}

@media (prefers-color-scheme: light) {
  [data-theme="system"] {
    @extend %light;
  }
}

@media (prefers-color-scheme: dark) {
  [data-theme="system"] {
    @extend %dark;
  }
}
