%light {
  color-scheme: light;
  --page: var(--page-light);
  --paper: var(--paper-light);
  --on-paper: var(--on-paper-light);
  --magnet: var(--magnet-light);
  --on-magnet: var(--on-magnet-light);
  --whiteboard: var(--whiteboard-light);
  --whiteboard-border: var(--whiteboard-border-light);
}

%dark {
  color-scheme: dark;
  --page: var(--page-dark);
  --paper: var(--paper-dark);
  --on-paper: var(--on-paper-dark);
  --magnet: var(--magnet-dark);
  --on-magnet: var(--on-magnet-dark);
  --whiteboard: var(--whiteboard-dark);
  --whiteboard-border: var(--whiteboard-border-dark);
}

[data-theme="light"] {
  @extend %light;
}

[data-theme="dark"] {
  @extend %dark;
}

@media (prefers-color-scheme: light) {
  [data-theme="system"] {
    @extend %light;
  }
}

@media (prefers-color-scheme: dark) {
  [data-theme="system"] {
    @extend %dark;
  }
}
