%light {
  color-scheme: light;

  --page: var(--paper-50);
  --paper-rgb: var(--paper-100-rgb);
  --paper: rgb(var(--paper-rgb));
  --on-paper: var(--black);
  --magnet: var(--white);
  --on-magnet: var(--black);
  --whiteboard-rgb: var(--paper-900-rgb);
  --whiteboard: rgb(var(--whiteboard-rgb));
  --whiteboard-border: var(--black);

  --button: var(--teal-400);
  --on-button: var(--black);
  --button-hover: var(--teal-500);
  --button-focus: var(--teal-a400);
}

%dark {
  color-scheme: dark;

  --page: var(--paper-900);
  --paper-rgb: var(--paper-800-rgb);
  --paper: rgb(var(--paper-rgb));
  --on-paper: var(--paper-50);
  --magnet: var(--paper-600);
  --on-magnet: var(--white);
  --whiteboard-rgb: var(--paper-900-rgb);
  --whiteboard: rgb(var(--whiteboard-rgb));
  --whiteboard-border: var(--black);

  --button: var(--teal-300);
  --on-button: var(--black);
  --button-hover: var(--teal-400);
  --button-focus: var(--teal-a200);
}

[data-theme="light"] {
  @extend %light;
}

[data-theme="dark"] {
  @extend %dark;
}

@media (prefers-color-scheme: light) {
  [data-theme="system"] {
    @extend %light;
  }
}

@media (prefers-color-scheme: dark) {
  [data-theme="system"] {
    @extend %dark;
  }
}
