:root {
  --heading-font: "Special Elite", serif;
  --body-font: "Roboto Mono", monospace;

  --headline1-size: 6.4375rem;
  --headline2-size: 4rem;
  --headline3-size: 3.1875rem;
  --headline4-size: 2.25rem;
  --headline5-size: 1.625rem;
  --headline6-size: 1.3125rem;
  --subtitle1-size: 1.0625rem;
  --subtitle2-size: 0.9375rem;

  --body1-size: 1rem;
  --body2-size: 0.875rem;

  --button-size: 0.875rem;
  --overline-size: 0.625rem;
  --caption-size: 0.75rem;
}

.headline1,
h1 {
  font-family: var(--heading-font);
  font-size: var(--headline1-size);
}

.headline2,
h2 {
  font-family: var(--heading-font);
  font-size: var(--headline2-size);
}

.headline3,
h3 {
  font-family: var(--heading-font);
  font-size: var(--headline3-size);
}

.headline4,
h4 {
  font-family: var(--heading-font);
  font-size: var(--headline4-size);
}

.headline5,
h5 {
  font-family: var(--heading-font);
  font-size: var(--headline5-size);
}

.headline6,
h6 {
  font-family: var(--heading-font);
  font-size: var(--headline6-size);
}

.subtitle1 {
  font-family: var(--heading-font);
  font-size: var(--subtitle1-size);
}

.subtitle2 {
  font-family: var(--heading-font);
  font-size: var(--subtitle2-size);
}

.body1 {
  font-family: var(--body-font);
  font-size: var(--body1-size);
}

.body2 {
  font-family: var(--body-font);
  font-size: var(--body2-size);
}

.overline {
  font-family: var(--body-font);
  font-size: var(--overline-size);
  text-transform: uppercase;
}

.button {
  font-family: var(--body-font);
  font-size: var(--button-size);
}

.caption {
  font-family: var(--body-font);
  font-size: var(--caption-size);
}
