.submission {
  background-color: var(--whiteboard);
  border: 0.5rem solid var(--whiteboard-border);
  padding: 1rem;
  border-radius: var(--shape-large);
  min-height: 10rem;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
  user-select: none;
  > * {
    z-index: 1;
  }
}

.submission::before {
  background-size: 512px 512px;
  background-repeat: repeat;
  background-blend-mode: darken;
  background-color: rgba(var(--whiteboard-rgb), 0.75);
  background-image: url(/assets/grime.jpg);
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.5;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--input);
  border: 2px solid var(--input-border);
}

.words {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.word {
  appearance: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--magnet);
  color: var(--on-magnet);
  padding: 0.5rem;
  user-select: none;
  box-shadow: 0 0.25rem var(--black);
}

.removeRow {
  margin-left: auto;
  &:dir(rtl) {
    margin-left: 0;
    margin-right: auto;
  }
}

.addRow {
  background-color: var(--input);
  border: 2px dashed var(--input-border);
  border-radius: var(--shape-medium);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
