.submission {
  background-color: var(--whiteboard);
  border: 0.5rem solid var(--whiteboard-border);
  padding: 1rem;
  border-radius: 1rem;
  min-height: 10rem;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.submission::before {
  background-size: 512px 512px;
  background-repeat: repeat;
  background-blend-mode: darken;
  background-color: rgba(var(--whiteboard-rgb), 0.75);
  background-image: url(/assets/grime.jpg);
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.5;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.word {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--magnet);
  color: var(--on-magnet);
  padding: 0.5rem;
  user-select: none;
  box-shadow: 0 0.25rem var(--black);
}

.author {
  color: var(--on-whiteboard);
  z-index: 1;
}
