.wordButton {
  appearance: none;
  border: none;
  background-color: var(--magnet);
  color: var(--on-magnet);
  cursor: pointer;
  padding: 0.5rem;
  --shadow-size: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition:
    background-color 120ms,
    translate 120ms ease-in-out,
    font-weight 120ms;
  position: relative;
  translate: 0 calc(-1 * var(--shadow-size));
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    bottom: calc(-1 * var(--shadow-size));
    height: var(--shadow-size);
    background-color: var(--black);
    transition:
      height 120ms ease-in-out,
      bottom 120ms ease-in-out;
  }
  &:focus {
    outline: none;
  }
  &[data-hovered],
  &[data-focus-visible] {
    --shadow-size: 0.5rem;
  }
  &[data-hovered] {
    background-color: var(--magnet-hover);
  }
  &[data-focus-visible] {
    background-color: var(--magnet-focus);
    &[data-pressed] {
      background-color: var(--magnet-focus-pressed);
    }
  }
  &[data-pressed],
  &[data-disabled],
  &[data-selected] {
    --shadow-size: 0;
  }
  &[data-pressed] {
    background-color: var(--magnet-pressed);
  }
  &[data-selected] {
    font-weight: 600;
    background-color: var(--magnet-selected);
    color: var(--on-paper);
    &[data-hovered] {
      background-color: var(--magnet-hover-selected);
    }
    &[data-focus-visible] {
      background-color: var(--magnet-focus-selected);
    }
    &[data-pressed] {
      background-color: var(--magnet-pressed-selected);
      &[data-focus-visible] {
        background-color: var(--magnet-focus-selected-pressed);
      }
    }
  }
  &[data-disabled] {
    background-color: var(--magnet-disabled);
    color: var(--on-paper);
    cursor: not-allowed;
    &[data-selected] {
      background-color: var(--magnet-disabled-selected);
    }
  }
}

.group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 50rem;
}
