@import "normalize.css";
@import "@/styles/palette.css";
@import "@/styles/shape.css";
@import "@/styles/tokens.css";
@import "@/styles/typography.css";

@import "@/components/button/index.css";
@import "@/components/radio/index.css";
@import "@/components/symbol/index.css";
@import "@/components/textfield/index.css";

body {
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--page);
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
