.prompt {
  background-color: var(--paper);
  color: var(--on-paper);
  padding: 1rem;
  border-radius: 1rem;
  min-height: 10rem;
  min-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.prompt::before {
  background-size: 512px 512px;
  background-repeat: repeat;
  background-blend-mode: darken;
  background-color: rgba(var(--paper-rgb), 0.5);
  background-image: url(/assets/grime.jpg);
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.25;
}

.text {
  position: relative;
  z-index: 1;
  text-align: center;
}
